<router-outlet>
  <mat-toolbar color="primary">
    <span class="mat-span">MarketPlace</span>
    <div class="spacer"></div>
    <a mat-button routerLink="/home" class=mat-button>Home</a>
    <a mat-button routerLink="/register" class=mat-button>Register</a>
    <a mat-button routerLink="/products" class=mat-button>Products</a>
    <a mat-icon-button color="accent" class="material-icons" [routerLink]="['/basket']">
      <mat-icon class="icon">
        shopping_cart
      </mat-icon>
    </a>
    <button mat-icon-button color="accent" class="material-icons" [routerLink]="['/login']">
      <mat-icon class="icon">
        login
      </mat-icon>
    </button>
  </mat-toolbar>
</router-outlet>