<mat-grid-list cols="2" rowHeight="2:1.20">
  <mat-grid-tile class="mat-tile">
    <mat-card class="example-card">
      <img mat-card-image [src]="'assets/images/4.jpg'" >
      <button color="warn" mat-raised-button>
        <span class="material-icons">
          add_shopping_cart
        </span>
      </button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="mat-tile">
    <mat-card class="example-card">
      <img mat-card-image [src]="'assets/images/5.jpg'">
      <button color="warn" mat-raised-button>
        <span class="material-icons">
          add_shopping_cart
        </span>
      </button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="mat-tile">
    <mat-card class="example-card">
      <img mat-card-image [src]="'assets/images/6.jpg'">
      <button color="warn" mat-raised-button>
        <span class="material-icons">
          add_shopping_cart
        </span>
      </button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="mat-tile">
    <mat-card class="example-card">
      <img mat-card-image [src]="'assets/images/7.jpg'">
      <button color="warn" mat-raised-button>
        <span class="material-icons">
          add_shopping_cart
        </span>
      </button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>